* {
    padding: 2px;
    margin: 20px;
}

body {
    display: flex;
    flex-direction: column;
}

td {
    padding: 2px;
    margin: 2px;
}
.flex-container {
    display: flex;
    flex-direction: row;
}